html {}

body {
    margin: 0;
}

img.gray {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

img.gray:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

div.forgeViewer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}